{% extends 'index.html' %}
{% load static %}
{% block titulo %}Bitácora de empleado{% endblock titulo %}
{% block contenido %}
	{% if perms.personal.add_registrodeasistencia %}
		<center><button class="btn btn-primary btn-block col-2" onclick="crear_bitacora_personal('{% url 'personal:crear_bitacora_personal' %}')">Crear</button></center>
	{% endif %}

	<br>
	<div class="table-stats order-table ov-h">
		<table class="table table-striped" id="tabla_bitacora">
			<thead class="thead-dark">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Empleado:</th>
					<th scope="col">Hora/Fecha de entrada:</th>
					<th scope="col">Hora/Fecha de salida:</th>
					<th scope="col"><center>#</center></th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="modal fade" id="crear_bitacora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>

	<div class="modal fade" id="editar_bitacora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
	
	<div class="modal fade" id="eliminar_bitacora" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
	
{% endblock contenido %}
{% block extrajs %}
	<script type="text/javascript" src="{% static 'personal/listado_bitacora_personal.js' %} "></script>
{% endblock extrajs %}