{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="{% static 'css/login.css'%}">
  
  <title>LogIn</title>
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <p>Iniciar Sesión</p>
      </div>
      {% if messages %}
      {% for i in messages %}
        {% if i.tags == "success" %}
          <div class="alert alert-success" role="alert">
              {{i}}
          </div>
        {% else %}
          <div class="alert alert-danger" role="alert">
              {{i}}
          </div>
        {% endif %}
        
      {% endfor %}
    {% endif %}
      <!-- Login Form -->
      <form method="POST">
        <center>  
          <div class="col-10">
            {% csrf_token %}
            {{form.as_p}}  
          </div>
        </center>
        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30" value="Log In">Iniciar Sesión</button>
      </form>
<br>
      <div class="card-footer">
         <a href="{% url 'usuarios:recuperar_usuario' %}">Recuperar usuario</a>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>